body
{
	background: -webkit-linear-gradient(90deg, rgb(37, 133, 219), rgb(9, 41, 74));
	background: linear-gradient(90deg, rgb(37, 133, 219), rgb(9, 41, 74));
	width:auto;
	margin-left: 5%;
	margin-right: 5%;
	background-image : url(images/backgroundImage.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	color : white;

}

p
{

	font-family: Open Sans;
	font-size: normal;
	color: #FDECF6;
	margin : 15px;
}

blockquote
{
	margin-left:  auto;
	margin-right: auto;
	font-size: 160%;
	background-color: lightgrey;
	text-align: center;
	border-color: firebrick;
	border-size: 3px;
	border-style: solid;
	padding: 30px;
	padding-top: 80px; 
	padding-bottom: 80px;
	color:teal;
}

blockquote > p
{
	color:teal;
}


.quote
{
	font-style:normal
}



.quote--villagers
{
	color : green;
	font-style: italic;

}

.quote--farmer
{
	color : red;
	font-style: italic;	
}



a:visited
{
	color : red ;
}

a
{
	color :green;
	text-decoration:  none;
}

a:hover
{
	color :blue;
}

header > h1
{
	background-color:  yellow;
	color: grey;
}


.good
{
	color:green;
	text-transform: capitalize;
}

.bad
{
	color:red;
	text-transform: capitalize;
}

table
{
	background-color: lightgrey;
	color : #301C23;
}

table,th,td
{
	border : solid black 2px;
	border-collapse:  collapse;
}

.background-cell
{
	background-color :white;
}

.good-image, .bad-image, .cat-image
{
	background-repeat: no-repeat;
	padding-bottom: 10px;
	padding-top: 10px;
	margin-right: 750px;
	background-position: right;
	background-size : 30px 30px;

}

.bad-image
{
	background-image: url(images/mal.png);
}

.cat-image
{
	background-image: url(images/chat.png);
}

.good-image
{
	background-image: url(images/bien.png);
}

.image1
{
	float : left;
	margin : 10px;	
}

.image3
{
	float:right;
	margin :10px;
	margin-top: 70px
	
}